/* Fontawesome 5 config */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$blue: #208bd8;
$blue_light: #e8f3fb;
$red: #d61414;
$red_light: #ecc6c6;
$green: #11ca11;
$green_light: #e3ffe3;
$gray: #e6e6e6;
$gray_dark: #3b3b3b;
$shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);

.post {
  margin-block: 20px;
  padding: 10px 20px;
  border: 1px solid $gray;
  border-radius: 7px;
  box-shadow: $shadow;
}

.options {
  display: flex;
  align-items: center;
}

.edits_post {
  display: flex;
  align-items: center;
  column-gap: 10px;
  a {
    font-size: 20px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 20%;
}

.option_container {
  margin-inline-end: 10px;
}

.option {
  color: #606c76;
  transition: color 200ms ease-in-out;
  i {
    transition: background-color 200ms ease-in-out;
    padding: 10px;
    border-radius: 100%;
  }
}
.like:hover {
  color: $red;

  & > i {
    background-color: $red_light;
  }
}
.retweet:hover {
  color: $green;
  & > i {
    background-color: $green_light;
  }
}

.top_tweet {
  display: flex;
}

.avatar_container {
  width: 75px;
  height: 75px;
  margin-inline-end: 10px;
  margin-block-end: 10px;
  flex-shrink: 0;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.new_tweet {
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  box-shadow: $shadow;
}

.tweet_form {
  margin-block-end: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h2 {
    align-self: flex-start;
  }

  &-top {
    display: flex;
    width: 100%;
  }

  input {
    margin-block-start: 10px;
    border: none;
    font-size: 2rem;
  }
  button {
    border-radius: 100px;
  }
}

.main_layout {
  padding: 10px 10%;
  display: grid;
  grid-template-columns: 1.5fr 4fr 1fr;
  column-gap: 2rem;

  .aside {
    padding: 2em;
    width: 100%;
    height: fit-content;
    border: 1px solid $gray;
    border-radius: 7px;
    box-shadow: $shadow;

    nav {
      .logo {
        font-weight: 700;
        margin-inline-start: 15px;
      }
      ul {
        list-style: none;
        a {
          color: $gray_dark;
          font-weight: 700;
          padding: 10px 20px;
          border-radius: 50px;

          &:hover {
            background-color: $blue_light;
            color: $blue;
          }
        }
      }
    }
  }
}

.tweet_modal {
  background-color: white;
  margin: 15%;
  box-shadow: $shadow;
  border-radius: 7px;
  position: relative;
}

a {
  color: $blue;
}
button {
  border-radius: 100px;
  border: none;
  background-color: $blue;
  box-shadow: $shadow;
}

.tweet_modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2em;
  line-height: 0.8em;
}

.edited {
  color: gray;
}

.new_tweets {
  margin-block-start: 20px;
  display: flex;
  justify-content: center;
}
